/* NAVBAR */
.navbar {
  margin-right: 20px;
  margin-left: 20px;
  min-width: 250px;
}

.navbar__img-logo {
  width: 300px;
}

.navbar__img-logo-small {
  width: 55px;
  height: 44px;
  object-fit: cover;
  object-position: 0% 90%;
}

/* HEADER */
.header {
  padding-top: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  max-width: 115rem;
  display: grid;
  // grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  column-gap: 3rem;

  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
}

.header__img {
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px black);

  margin-top: 100px;
  margin-left: 50px;
  width: 100%;
  height: 262px;
  width: 304px;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
}

.header h1 {
  font-size: 45px;
}

.header span {
  font-weight: bold;
}

/* SECTION */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}

/*TIMELINE*/
.timeline {
  margin: 0 auto;
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #777777;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 3px grey;
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #d6d6d6;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
  color: black;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
  color: black;
}

.timeline__paragraph {
  line-height: 1.5;
}

.timeline__date {
  color: black;
  font-weight: bold;
}

.titol {
  font-style: italic;
}

//If the browser window is 990px or smaller,
@media screen and (max-width: 990px) {
  .header {
    text-align: center;
    display: block;
  }

  .navbar__img-logo {
    width: 55px;
    height: 44px;
    object-fit: cover;
    object-position: 0% 90%;
  }

  .header__img {
    margin-top: 150px;
  }
}

//If the browser window is 990px or smaller,
@media screen and (max-width: 435px) {
  .header h1 {
    font-size: 35px;
  }

  .header__img {
    height: 175px;
    width: 202px;
  }
}
