/* NAVBAR */
.navbar {
  margin: auto;
  max-width: 95rem;
}

.navbar__img-logo {
  width: 300px;
}

.navbar__img-logo-small {
  width: 55px;
  height: 44px;
  object-fit: cover;
  object-position: 0% 90%;
}

/* HEADER */
.header {
  padding-top: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  max-width: 115rem;
  display: grid;
  // grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  column-gap: 3rem;

  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
}

.header__img {
  filter: brightness(120%);
  filter: contrast(120%);
  filter: drop-shadow(10px 10px 10px black);

  margin-top: 100px;
  margin-left: 50px;
  width: 100%;
  height: 262px;
  width: 304px;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
}

.header h1 {
  font-size: 45px;
}

.header span {
  font-weight: bold;
}

/* SECTION */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}

.section--feedback {
  // background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--feedback .section__header {
  color: #fff;
  text-align: center;
}

.section--feedback .section__title {
  margin-bottom: 6rem;
}

.section--feedback .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

/*==================================
    TIMELINE
==================================*/
$primary-color: rgb(46, 46, 46);
$primary-color-hover: scale-color($primary-color, $lightness: 32%);
/*-- GENERAL STYLES
    ------------------------------*/

.timeline {
  line-height: 1.4em;
  list-style: none;
  max-width: 100rem;
  margin: 0 auto 10rem auto;

  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: inherit;
  }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 40px;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  &:before {
    background: $primary-color;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  &:after {
    content: "";
    width: 3px;
    background: #ccd5db;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid $primary-color;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
    margin-bottom: 0;
  }
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding: 0;
  .timeline-info {
    display: none;
  }
  .timeline-marker {
    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 30px;
      position: absolute;
      border-top: 3px solid #ccd5db;
      border-bottom: 3px solid #ccd5db;
    }
    &:after {
      content: "";
      height: 32px;
      top: auto;
    }
  }
  .timeline-content {
    padding: 40px 0 70px;
  }
  .timeline-title {
    margin: 0;
  }
}

/*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/

.timeline-split {
  @media (min-width: 768px) {
    .timeline {
      display: table;
      padding-left: 0;
      padding-right: 0;
    }
    .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-info,
    .timeline-marker,
    .timeline-content,
    .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-marker {
      position: relative;
    }
    .timeline-content {
      padding-left: 30px;
    }
    .timeline-info {
      padding-right: 30px;
    }
    .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
}

//If the browser window is 990px or smaller,
@media screen and (max-width: 990px) {
  .header {
    text-align: center;
    display: block;
    padding-top: 10rem;
  }

  .navbar__img-logo {
    width: 55px;
    height: 44px;
    object-fit: cover;
    object-position: 0% 90%;
  }

  .header__img {
    margin-top: 150px;
    margin-right: 40px;
  }

  .timeline {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .section {
    padding-top: 5rem;
  }
}

//If the browser window is 990px or smaller,
@media screen and (max-width: 435px) {
  .header h1 {
    font-size: 35px;
  }

  .header__img {
    height: 175px;
    width: 202px;
  }
}
